
.contact {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 150px 16%;
    gap: 12px;
}

.contact h6 {
    color: var(--white);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}

.contact h2 {
    color: var(--white);
    font-size: 48px;
    font-weight: 600;
    line-height: 1.05;
    text-align: center;
}

.contact p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.contact .buttons {
    display: flex;
    gap: 40px;
    margin-top: 20px;
}

.contact .buttons a, .contact .buttons button {
    align-items: center;
    display: flex;
    background-color: var(--green);
    border: solid 1px var(--white);
    border-radius: 6px;
    color: var(--white);
    font-size: 20px;
    font-weight: 600;
    gap: 12px;
    padding: 10px 20px;
    transition: all 0.15s ease-in-out;
    width: fit-content;
}

.contact .buttons #wpp {
    background-color: var(--white);
    color: var(--green);
}

.contact img {
    height: 18px;  
}

.contact .buttons a:hover, .contact .buttons button:hover {
    background-color: var(--white);
    color: var(--green);
    cursor: pointer;
}

@media (max-width: 1024px) {
    .contact {
        padding: 150px 10%;
    }

    .contact h2 {
        font-size: 40px;
    }

    .contact p {
        font-size: 18px;
        margin-top: 20px;
        width: 100%;
    }
    
    .contact .buttons {
        flex-direction: column;
        gap: 20px;
   }
    
}

@media (max-width: 768px) {
     .contact h2 {
        font-size: 36px;
    }

    .contact p {
        font-size: 18px;
        margin-top: 20px;
        width: 100%;
    }

    .contact .buttons {
        flex-direction: column;
        gap: 20px;
   }
}

@media (max-width: 600px) {
    .contact {
        padding: 100px 10%;
    }
}

@media (max-width: 480px) {
    .contact h2 {
        font-size: 30px;
    }

    .contact p {
        font-size: 14px;
        margin-top: 20px;
        width: 100%;
    }

    .contact .buttons a, .contact .buttons button {
        font-size: 16px;
        padding: 8px 16px;
    }
}
