.enterprises {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 100px 16%;
}

.enterprises .text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 600px;
}

.enterprises h6 {
    color: var(--green);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}  

.enterprises h2 {
    font-size: 36px;
    font-weight: 600;
}

.enterprises p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 16px;
    font-weight: 500;
    width: 85%;
}

@media (max-width: 1400px) {
  .enterprises {
        padding: 100px 15%;
    }
}


@media (max-width: 768px) {
    .enterprises {
        padding: 100px 10%;
    }

    .enterprises .text {
        width: 100%;
    }

    .enterprises h2 {
        font-size: 28px;
    }

    .enterprises .splide {
        width: 100%;
    }

    .enterprises .splide img {
        width: 70%;
    }
}

@media (max-width: 600px) {
    .enterprises h2 {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    .enterprises h2 {
        font-size: 20px;
    }

    .enterprises p {
        width: 100%;
        font-size: 14px;
    }

    .enterprises .splide img {
        width: 65%;
    }
}
