.faq {
  display: flex;
  justify-content: center;
  padding: 100px 15%;
  gap: 50px;
}

.faq .text {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 600px;
}

.faq h6 {
  color: var(--green);
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
}

.faq h2 {
  line-height: 1.05;
  font-size: 36px;
  font-weight: 600;
}

.questions details {
  border-bottom: 1px solid #e5e5e5;
  padding: 16px 0;
  width: 600px;
}

.questions summary {
  list-style: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.questions summary::-webkit-details-marker {
  display: none;
}

.questions summary::after {
  content: ">";
  transform: rotate(90deg);
  font-size: 18px;
  transition: transform 0.3s ease;
}

.questions details[open] summary::after {
  transform: rotate(270deg);
}

.questions details {
  &::details-content {
    transition: height 1s; 
    transition:
      height 0.3s,
      content-visibility 0.3s allow-discrete;
    overflow: hidden;
    height: 0;
  }
  
  &[open]::details-content {
    height: auto; 
    height: calc-size(auto); 
    height: calc-size(auto, size);   
  }
}

.questions details p {
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
  font-size: 14px;
}

.questions details[closed] p {
  opacity: 0;
}


@media (max-width: 1400px) {
  .faq {
    flex-direction: column;
    gap: 30px;
    padding: 80px 15%;
    width: 100%;
  }

  .faq .text {
    width: 100%;
  }

  .questions {
    width: 100%;
  }

  .questions details {
    width: 80%;
  }

  .questions summary {
    font-size: 18px;
  }

  .questions details p {
    width: 90%;
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
   .questions details {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .faq {
    flex-direction: column;
    gap: 30px;
    padding: 80px 10%;
    width: 100%;
  }

  .faq h2 {
    font-size: 28px;
  }

  .questions summary {
    font-size: 16px;
  }

  .questions details p {
    width: 95%;
    font-size: 14px;
    text-align: justify;
  }
}

@media (max-width: 600px) {
   .faq h2 {
    font-size: 24px;
  }
  
  .questions summary {
    font-size: 15px;
  }

  .questions details p {
    width: 95%;
    font-size: 13px;
    text-align: justify;
  }
}

@media (max-width: 480px) {
   .faq h2 {
    font-size: 20px;
  }
}
