.feedbacks {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 100px 16%;
    gap: 12px;
}

.feedbacks h6 {
    color: var(--green);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}

.feedbacks h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.05;
}

.feedbacks .cards {
    display: flex;
    gap: 30px;
    margin-top: 40px;
}

.feedbacks .card {
    background-color: var(--white);
    border: solid 1px rgba(128, 128, 128, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 300px;
    justify-content: center;
    overflow: hidden;
    padding: 30px;
    transition: all 0.2s ease-in;
    width: 100%;
}

.card:hover {
    box-shadow: 0px 1px 3px;
}

.feedbacks .card img {
    background-color: #15473228;
    padding: 10px;
    border-radius: 4px;
    width: 40px;
}

.feedbacks .card p {
    font-size: 16px;
    font-weight: 500;
}

.feedbacks .card .person {
    font-size: 16px;
    font-weight: 600;
}

.feedbacks .card .from {
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    font-weight: 500;
}


@media (max-width: 1400px) {
    .feedbacks {
        padding: 100px 5%;
    }

    .feedbacks h6, .feedbacks h2 {
        padding: 0px 15%;
    }

    .feedbacks .cards p{
        font-size: 14px;
    }
}

@media (max-width: 1024px) {
    .feedbacks {
        padding: 100px 10%;
    }
    
    .feedbacks .cards {
        align-self: center;
        flex-direction: column;
        height: fit-content;
        width: 600px;
    }

    .feedbacks .cards p{
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .feedbacks h2 {
        font-size: 28px;
    }

    .feedbacks .cards {
        width: 500px;
    }

    .feedbacks .cards p{
        text-align: justify;
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    .feedbacks h6 {
        padding: 0px 5%;    
    }
    
    .feedbacks h2 {
        font-size: 24px;
        padding: 0px 5%;
        text-align: center;
    }

    .feedbacks .cards {
        width: 400px;
    }

    .feedbacks .cards p{
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .feedbacks h2 {
        font-size: 22px;
    }

    .feedbacks .cards {
        width: 360px;
    }
}

@media (max-width: 420px) {
    .feedbacks .cards {
        width: 320px;
    }
}
