
footer {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}

footer .content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0px 5%;
    width: 100%;
}

.footerlogo {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100px;
    overflow: hidden;
    width: 260px;
}

footer img {
    width: 150%;
}

footer .by{
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    gap: 5px;
    justify-content: center;
    margin-top: 25px;
    padding: 5px 0px;
}

footer .by a {
    text-decoration: underline;
}


@media (max-width: 600px) {
    .footerlogo {
        width: 200px;
    }

    footer .content p {
        text-align: center;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .footerlogo {
        width: 150px;
    }

    footer .content p {
        font-size: 12px;
    }
}
