main {
    display: flex;
    justify-content: space-evenly;
    padding-top: 60px;
    padding-bottom: 100px;
}

main .text_area {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 50%;
}

main #safe {
    align-items: center;
    background-color: #247a561a;
    border-radius: 50px;
    color: var(--green);
    display: flex;
    font-size: 12px;
    font-weight: 600;
    gap: 8px;
    padding: 5px 10px;
    width: fit-content;
}

main #safe img {
    height: 12px;
    width: 12px;
}

.text_area h1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 1.1;
}

.text_area h1 span {
    color: var(--green);
}
.text_area p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 18px;
    font-weight: 600;
}

.text_area .buttons {
    display: flex;
    gap: 40px;
}

.text_area .buttons a {
    border: solid 1px var(--green);
    border-radius: 6px;
    color: var(--green);
    font-size: 16px;
    font-weight: 00;
    padding: 10px 20px;
    transition: all 0.15s ease-in-out;
    width: fit-content;

}

.text_area .buttons a:hover {
    background-color: var(--green);
    color: var(--gray);
}

.text_area .infos {
    display: flex;
    gap: 40px;
}

.infos .info {
    align-items: center;
    color: rgba(0, 0, 0, 0.7);
    display: flex;
    font-weight: 500;
    gap: 10px;
}

.info img {
    width: 18px;
}

.quemsomos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 100px 16%;
    gap: 12px;
}

.quemsomos h6 {
    color: var(--green);
    font-weight: 600;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
}

.quemsomos h2 {
    font-size: 36px;
}

.quemsomos p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 20px;
    font-weight: 500;
    width: 85%;
}

.quemsomos p span {
    color: var(--green);
    font-weight: 700;
}

.quemsomos .cards {
    display: flex;
    gap: 30px;
    margin-top: 40px;
}

.quemsomos .card {
    background-color: white;
    border: solid 1px rgba(128, 128, 128, 0.3);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 250px;
    justify-content: center;
    overflow: hidden;
    padding: 30px;
    transition: all 0.2s ease-in;
    width: 100%;
}

.quemsomos .card:hover {
    box-shadow: 0px 1px 2px;
}

.quemsomos .card img {
    background-color: #15473228;
    padding: 10px;
    border-radius: 4px;
    width: 40px;
}

.quemsomos .card h2 {
    font-size: 18px;
    font-weight: 600;
}

.quemsomos .card p {
    font-size: 13px;
    font-weight: 500;
}

.comofunciona {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 100px 16%;
    gap: 12px;
}

.comofunciona h6 {
    color: var(--green);
    font-weight: 600;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
}

.comofunciona h2 {
    font-size: 36px;
    font-weight: 600;
}

.comofunciona .steps {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.steps .step {
    border-top: solid 1px var(--green);
    padding-top: 20px;
    width: 25%;
}

.steps .step h2 {
    color: var(--green);
    font-weight: 700;
}

.steps .step p {
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
    margin-top: 5px;
}