main {
    display: flex;
    justify-content: space-between;
    padding: 150px 15% 100px;
}

main .text_area {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 60%;
}

main #safe {
    align-items: center;
    background-color: #247a561a;
    border-radius: 50px;
    color: var(--green);
    display: flex;
    font-size: 12px;
    font-weight: 600;
    gap: 8px;
    padding: 5px 10px;
    width: fit-content;
}

main #safe img {
    height: 12px;
    width: 12px;
}

.text_area h1#pc, .text_area h1#mobile {
    font-size: 60px;
    font-weight: 600;
    line-height: 1.1;
}

.text_area h1#mobile {
    display: none;
}

.text_area h1 span {
    color: var(--green);
}

.text_area p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 18px;
    font-weight: 600;
}

.text_area .buttons {
    display: flex;
    gap: 40px;
}

.text_area .buttons a {
    background-color: var(--white);
    border: solid 1px var(--green);
    border-radius: 6px;
    color: var(--green);
    font-size: 16px;
    font-weight: 00;
    padding: 10px 20px;
    transition: all 0.15s ease-in-out;
    width: fit-content;
}

.text_area .buttons a:hover {
    background-color: var(--green);
    color: var(--gray);
}

.buttons #fmb {
    background-color: var(--lgreen);
    color: var(--white);
}

.buttons #fmb:hover {
    background-color: var(--green);
}

.text_area .infos {
    display: flex;
    gap: 40px;
}

.infos .info {
    align-items: center;
    color: rgba(0, 0, 0, 0.7);
    display: flex;
    font-weight: 500;
    gap: 10px;
}

.info img {
    width: 18px;
}

main .animation_area {
    align-self: center;
    align-items: center;
    display: flex;
    height: fit-content;
    justify-content: center;
    width: 30%;
}

main .animation_area .text {
    align-self: center;
    color: var(--white);
    font-size: 54px;
    font-weight: 700;
    position: absolute;
    text-shadow: 0px 1px 3px black;
}

main .animation_area .bg {
    background-color: var(--green);
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 300px;
}

main .animation_area .border {
    border: solid 5px var(--white);
    border-style: dashed;
    border-radius: 100%;
    height: 290px;
    position: absolute;
    width: 290px;
    animation: spin 30s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
    transform-origin: center;
  }
  to {
    transform: rotate(360deg);
    transform-origin: center;
  }
}


@media (max-width: 1400px) {
    main {
        padding: 150px 10% 100px;
    }

    main .text_area {
        width: 55%;
    }

    .text_area h1 {
        font-size: 50px;
    }

    main .animation_area {
        width: 40%;
    }

    .text_area .buttons {
        flex-direction: column;
        width: fit-content;
    }

    .text_area .buttons a {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    main {
        flex-direction: column;
        padding: 100px 10%;
    }

    .text_area #pc {
        display: none;
    }

    .text_area h1#mobile {
        display: block;
        font-size: 42px;
    }

    main .text_area {
        width: 100%;
    }

    .text_area p {
        font-weight: 500;
    }

    .text_area .buttons {
        flex-direction: row;
    }

    .text_area .buttons a {
        width: fit-content;
    }

    main .animation_area {
       display: none;
    }
}

@media (max-width: 768px) {
    .text_area h1#mobile {
        display: block;
        font-size: 36px;
    }

    .text_area p {
        font-size: 16px;
        font-weight: 500;
    }

    .text_area .buttons {
        gap: 15px;
        flex-direction: column;
    }

    .text_area .buttons a {
        width: 300px;
    }

    .text_area .infos {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 600px) {
    .text_area h1#mobile {
        display: block;
        font-size: 32px;
    }

    .text_area p {
        font-size: 14px;
        font-weight: 500;
    }

    .text_area .buttons {
        gap: 15px;
        flex-direction: column;
    }

    .text_area .buttons a {
        width: 300px;
    }
}

@media (max-width: 480px) {
    .text_area h1#mobile {
        display: block;
        font-size: 28px;
    }
}
